header {
    color: #FFDC5E;
}

body {
    color: #FCFFEB;
    background-color: #4C4C47;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; 
}

footer {
    color: #C1FBA4;
}
